.idea/
build/
gen/
.DS_Store/
.metadata/
.dart_tool/
android/.idea/
android/app/.idea/
iOS/Runner/
.DS_Store
.metadata
linux
pubspec.lock
android/app/gradlew
android/app/gradlew.bat
android/app/local.properties
android/app/gradle/wrapper/gradle-wrapper.properties
android/app/src/main/kotlin/com/example/flutter_app/MainActivity.kt
android/tmpmob/ShareSDK/assets/ShareSDK.xml
ios/Podfile
ios/Podfile.lock
ios/Flutter/.last_build_id
ios/Flutter/AppFrameworkInfo.plist
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
ios/Runner.xcworkspace/contents.xcworkspacedata
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
